<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <div class="panel panel-default">
          {{ content }}
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Related Articles</h3>
            {% unless page.category == null %}
            {% capture pageCategory %}{{ page.category }}{% endcapture %}
            {% unless site.categories[pageCategory].size == 1 %}
            <div class="row related-posts">
              <h2 class="text-center">More {{ page.category }} Posts!</h2>
              <div class="medium-12 small-12 columns">
                <ul class="list-group">
                  {% for post in site.categories[pageCategory] limit:6 %}
                  {% unless post.title == page.title %}

                  <li class="list-group-item">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
                      {{ post.title }}
                    </a>
                  </li>

                  {% endunless %}
                  {% endfor %}
                </div>
              </div>
              {% endunless %}
              {% endunless %}
            </div>
          </div>
        </div>
      </div>

      {% include footer.html %}

    </body>

    </html>