---
layout: default
---

{{ content }}

<div class="panel-body">
  {% for post in paginator.posts %}
  <h2>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h2>
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <p>
    <span class="post-meta">Published on <b>{{ post.date | date: date_format }}</b></span>
    <span class="post-meta"> by <b>{{ post.author }}</b></span>
  </p>
  <p class="text-justify">{{ post.excerpt }}</p>
  <a class="btn btn-default" href="{{ post.url | relative_url }}" role="button">Read More ...</a>
  <hr>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {% else %}
      <span aria-hidden="true">&laquo;</span>
      {% endif %}
    </li>
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li>
      {{ page }}
    </li>
    {% elsif page == 1 %}
    <li>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% else %}
      <span aria-hidden="true">&raquo;</span>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}